@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.clock {
  font-family: 'Orbitron', sans-serif;
  font-size: 60px;
  background-color: #212121;
  color: #64DD17;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%, -50%);
}

.time {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}